<% content_for :title, 'Про проект— Вони голосують для тебе' %>

<div id="first-block" class="container">

  <div class="col-12 about">
    <h1 class="text-uppercase center-justified text-xs-center">Про проект</h1>

    <div>
      <p>Сервіс <%= Settings.name_site.upcase  %>.RADA4YOU.ORG – це спосіб контролювати <%= link_to "депутатів", people_path() %> Рівненської міської ради, не відходячи від свого комп’ютера. Перевір сам - правду не сховати за мурами Ради. Вона – у відкритому доступі.<p>

      <p>Депутат міськради - Твій представник. Це Ти делегував його в орган місцевого самоврядування. Ти наділив його владними повноваженнями. Тож контролюй свого обранця. Чи ходить він на засідання? Чи голосує за рішення, які важливі для Тебе і решти рівнян? Чи дотримується фракційної/партійної дисципліни і за яких умов її порушує?</p>
      <p>Депутати Рівненської міської ради VIII скликання прийшли до влади за результатами місцевих виборів у грудні 2020
        року. А вже 3 грудня 2020 року вони урочисто склали присягу. “Присягаю обов’язки депутата виконувати чесно та сумлінно в інтересах громади міста Рівне”, - обіцяли вони Тобі. Вони - це <%= Mp.where(end_date: '9999-12-31').size - 1 %> депутати та міський голова.</p>

      <p class="text-uppercase">Вони голосують для Тебе</p>

      <p>На цьому сайті Ти зможеш контролювати свого депутата, не встаючи з-за комп’ютера. <%= Settings.name_site.upcase %>.RADA4YOU.ORG.</p>

      <p>Ти знатимеш, скільки разів <%= link_to  "депутат", people_path() %>  прогуляв, які рішення підтримав. Сервіс дасть Тобі доступ до повного списку  <%= link_to "голосувань", divisions_path()%>. А також -
        проілюструє для Тебе <%= link_to "сумісність голосувань", sumisne_holosuvannia_path() %> візуалізацією (на скільки співпадають позиції різних фракцій).</p>

      <p>Ти можеш почати контролювати негайно - просто <%= link_to "знайди свого депутата за ім’ям", root_path() %>.</p>

    </div>

  </div>

  <div class="col-12 team">
    <h2 class="text-uppercase center-justified text-xs-center">Подяка</h2>
    <p>Онлайн-сервіс <%= Settings.name_site.upcase %>.RADA4YOU.ORG розроблено в рамках кампанії «IT tools help to monitor elected officials/ІТ-інструменти допомагають моніторити народних обранців» Громадянською мережею ОПОРА у співпраці з Національним демократичним інститутом міжнародних відносин за фінансової підтримки Уряду Канади.</p>
  </div>

  <div class="col-12 partners">
    <h2 class="text-uppercase center-justified text-xs-center">Ти можеш допомогти</h2>

    <p> <%= Settings.name_site.upcase %>.RADA4YOU.ORG - це локальна версія сервісу <a href="https://rada4you.org" target="_blank">RADA4YOU.ORG</a>. Материнський сайт опрацьовує парламентські дані та голосування депутатів Верховної Ради України. Ти можеш стати частиною команди Rada4you - інформувати про виявлені неточності чи пропонувати свої ідеї щодо того, як покращити роботу сервісів. Долучайся до нас у <a href="https://www.facebook.com/DorogiDeputaty/" target="_blank">Фейсбуці</a>,
      <a href="https://twitter.com/rada4you?lang=uk" target="_blank">Твіттері</a> чи пиши на пошту rada4you@opora.org.ua.</p>

  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">Відповідальність</h2>

    <p>Сервіс автоматично опрацьовує дані, оприлюднені Рівненською міською радою. За тлумачення результатів окремими користувачами сервісу команда Rada4you.org Громадянської мережі ОПОРА відповідальності не несе.</p>
    <p>Більше інформації про аналіз парламентських даних за допомогою сервісів Rada4you можна прочитати у нашому блозі <a href="https://medium.com/@rada4you" target="_blank"> на платформі Medium</a>.</p>
    <p>Фото на обкладинці -- <a href="https://www.facebook.com/Oytcus">Юрій Ойцюсь</a></p>
  </div>

  <div class="col-12">
    <h2 class="text-uppercase center-justified text-xs-center">Як працює сайт Вони голосують для тебе?</h2>

    <p>Вони голосують для тебе збирає всі дані голосувань з порталу <a href="http://rivnerada.gov.ua/">Рівненської міської ради</a>.
      Голосування складені в список, який ти можеш знайти в розділі <a href="https://rivne.rada4you.org/divisions">Голосування</a>.
      Ти можеш шукати ці голосування або переглядати голосування, котрі пов'язані із якоюсь окремою політикою у розділі Політики
      (щоб дізнатись більше про Політики див Що таке Політики та як це працює?).</p>
  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">За який час і про що дані?</h2>

    <p>На порталі Вони голосують для тебе зібрані всі голосування депутатів Рівненської міської ради 7 скликання,
      починаючи листопада 2015 року. Нові голосування додаються одразу після їхньої публікації на офіційному порталі
      Рівненської міської ради. Ми не надаємо гарантії, що ці дані є фінальними, тому повідом нас, якщо знайдеш якісь фактологічні помилки.</p>
  </div>

  <div class="col-12">
    <h2 class="text-uppercase center-justified text-xs-center">Що таке Голосування?</h2>

    <p>Голосування - це спосіб, за допомогою якого приймаються рішення депутатами Рівненської міської ради (далі - Рада).
       Під час голосування за окремі рішення Рада умовно поділяється на 4 групи: ті, хто голосує Так, Ні, Утриматися та ті, хто Не голосує.</p>
  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">Що таке Політики та як це працює?</h2>

    <p>Тут <a href="https://rivne.rada4you.org/policies">Політики</a> - це набори голосувань за ті чи інші проекти рішень, які пов'язані між собою.
      Політики формуються за різними критеріями. Наприклад, ми надаємо пріоритет питанням,
      під час розгляду яких був високий рівень відвідуваності (див. Що таке відвідуваність та Що таке "Проти фракції"?),
      або багато політиків голосували проти фракції/групи (див. Що таке "Проти фракції"?).
      Інші причини для створення окремої політики - це питання, які становлять суспільний інтерес та важливі для виборців
      (наприклад: прийняття ДПТ, бюджет тощо).</p>
    <p>Ти теж можеш долучитись до формування Політики. Ось, як це працює:</p>
    <ol>
      <li>Після створення Політики на Вони голосують для тебе потрібно знайти Голосування,які відповідають тематиці цієї Політики
        та «прикріпити» їх до неї, використовуючи опцію «Чи це голосування належить до однієї з політик?».
        У відповідному полі дай відповідь, як би проголосував прихильник цієї Політики під час голосування,
        яке ти «прикріплюєш», - «так» або «ні»?<br>
        див <a href="https://rada.oporaua.org/instrumenty/rada4you">відео про те як їх створювати</a></li>
      <li>Позиція кожного депутата під час кожного з голосувань, що прикріплені до Політики, враховується для того,
        щоб віднести його до групи «прихильників» або «противників» Політики. Це дозволяє легко виявити,
        як кожен з народних обранців голосує за ту чи іншу політику, чи однаково зі своїми колегами по фракції,
        які голосування поєднали його з іншими депутатами. Ти можеш легко знайти деталі та побачити технологічне пояснення,
        натиснувши на окремого депутата на сторінці Політики.</li>
    </ol>
    <p>На Вони голосують для тебе є тисячі Голосувань. Там обов'язково будуть такі, що ще не прикріплені до Політик.
      Ти можеш допомогти нам поліпшити роботу сайту Вони голосують для тебе, знаходити та самостійно прикріплювати Голосування до Політик.</p>
  </div>

  <div class="col-12">
    <h2 class="text-uppercase center-justified text-xs-center">Як визначити, підтримує депутат якусь із політик чи ні? Як це рахується?</h2>

    <p>Позиція депутатів щодо <a href="https://rivne.rada4you.org/policies">Політики</a> визначається тим, як вони голосують в Раді під час розгляду проектів рішень,
      котрі стосуються Політики. Тобто підрахунок здійснюється залежно від того, як проголосував депутат.
      Таким чином, ти можеш виявити справжню позицію депутата, спираючись не на його слова, а на конкретні дії.</p>
    <p>Після цього, цифри конвертуються в прості фрази на основі діапазону значень, в який потрапляє голосування депутата.</p>
    <p>І потім</p>
    <p>між 95% та 100% означатиме "Максимально голосує за"</p>
    <p>між 85% та 95% означатиме "Послідовно голосує за"</p>
    <p>між 60% та 85% означатиме "Переважно голосує за"</p>
    <p>між 40% та 60% означатиме "Суміш за та проти"</p>
    <p>між 15% та 40% означатиме "Переважно голосує проти"</p>
    <p>між 5,0% та 15% означатиме "Послідовно голосує проти"</p>
    <p>між 0,0% та 5,0% означатиме "Максимально голосує проти"</p>
    <p>У разі відсутності депутата та/або його неголосування - "Ніколи не голосує"</p>
  </div>

  <div class="col-12 how-help">
    <h2 class="text-uppercase center-justified text-xs-center">Що таке “Проти фракції”?</h2>

    <p>Це коли депутат голосує не так, як більшість фракції/групи, до якої входить. Наприклад, за умови,
      коли більше 50% членів фракції проголосували «так» щодо певного проекту рішення, голосування окремого депутата «ні»,
      «утримався» або «не голосував» вважається голосуванням «проти фракції».</p>
  </div>

  <div class="col-12">
    <h2 class="text-uppercase center-justified text-xs-center">Що таке присутність?</h2>

    <p>Присутність (відвідування засідань) - це показник участі депутата у голосуваннях протягом засідань Рівненської міської ради
      (голосування "так", "ні", "утримався", "не голосував") з часу набуття ним повноважень. Цей показник відрізняється
      від показників реєстрації тим, що виявляє реальну присутність депутата у сесійній залі під час голосувань.</p>
  </div>



</div>

